
data/cifar100/

models/*.pt
# datasets
data/cifar100/
data/cifar-100-python/
data/cifar-100-python.tar.gz
*.tar.gz

# models
models/*.pt

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / experiment outputs
logs/
runs/
checkpoints/

# VS Code
.vscode/